#cluster-map {
    width: 100%;
    height: 500px;
}

#map {
    width: 100%;
    height: 300px;
}

.detail-img{
    width: 100%;
    height: 300px;
}

.index-img{
    width: 100%;
    height: 300px;
}

.alert-size{
    width: 50%;
    margin: auto;
    margin-top: 8px;
}